@CHARSET "ISO-8859-1";
/**
* Layout for the laptop version of the site.
*
* Authors: Czech, Flake, Paule
*/
@media screen and (min-width: 700px){
body	{
	background-color: black;
}

#Header {
	background-color: red;
	height: 150px;
	width: 1000px;
	padding-bottom: 10px;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 20px;
}

#SearchBar {
	background-color: white;
	position: relative;
	bottom: 10px;
	width: 200px;
	height: 30px;
	float: right;
}

#HeaderTabs {
	position: absolute;
	top: 125px;
	background-color: #6d0000;
	width: 960px;
	font-family: "Arial", sans-serif;
	font-size: 18px;
	text-align: center;
}

#HeaderTabs a{
	color: white;
	text-decoration: none;
}

#HeaderTabs a:hover{
	color: #b7b7b7;
}

#HeaderTabs li {
	margin: 0px 30px;
	display: inline;
}

#GameTabs li {
	display: inline;
}

#TwitterFeed {
	background-color: #cecece;
	width: 300px;
	height: 1415px;
	float: left;
	border-radius: 20px 0px 0px 20px;
	padding-left: 30px;
	padding-top: 30px;
	margin-top: -15px;
}

.twitter{
	margin-bottom: 30px;
}


#GameInfo {
	background-color: green;
	width: 200px;
	height: 100vh;
	float: left;
}

#Content {
	background-color: white;
	height: 1430px;
	width: 1000px;
	margin: auto;
	padding-top: 15px;
	border-radius: 20px;
}

#Content h1{
	font-family: "Arial", sans-serif;
	font-size: 24px;
	text-align: center;
}

#Content h2{
	font-family: "Arial", sans-serif;
	font-size: 20px;
	text-align: left;
}

#Content p{
	font-family: "Arial", sans-serif;
	font-size: 14px;
}

#Footer {
	width: 1000px;
	height: 75px;
	margin: auto;
	background-color: #e2e2e2;
}

.news0 {
	background-color: #e8e8e8;
	border-radius: 20px;
	margin-top: 30px;
	margin-bottom: 40px;
	margin-right: 35px;
	height: 300px;
	width: 600px;
	float: right;
}

.news1{
	background-color: #e8e8e8;
	border-radius: 20px;
	margin-bottom: 40px;
	margin-right: 35px;
	height: 300px;
	width: 600px;
	float: right;
}
}